.certification {
  margin: 0 1rem;
  display: block;
  padding-top: 13rem;
  header {
    h3 {
      font-size: 20px;
      text-align: center;
    }
    .certification_line {
      background-color: #333;
      width: 100%;
      height: 2px;
      margin: 0.25rem 0 2rem 0;
    }

    .certification_inner-line {
      background-color: #2865aa;
      width: 30%;
      height: inherit;
    }
  }
  .certification_body {
    gap: 2rem;
    margin-top: 3rem;

    .certification_list {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      border: 2px solid #444;
      border-radius: 0.375rem;
      margin-top: 1rem;
      min-height: 100px;
      -webkit-border-radius: 0.375rem;
      -moz-border-radius: 0.375rem;
      -ms-border-radius: 0.375rem;
      -o-border-radius: 0.375rem;
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;

      .certification_list-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: #4444;
        height: 3rem;
        width: 20%;
        overflow: scroll;
        img {
          width: 100%;
        }
      }
      .certification_list-describtion {
        width: 80%;

        .certificate_name {
          color: #ffff;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          margin: 0;
        }

        .certificate_org,
        .certification_date,
        .certification_link {
          font-size: 12px;
          line-height: 16px;
          color: #777;
          margin: 8px 0;
        }
      }
    }

    .certification_list:hover {
      transform: translateY(-0.5rem);
      -webkit-transform: translateY(-0.5rem);
      -moz-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
      -o-transform: translateY(-0.5rem);
    }
  }

  .certification_button {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      .certification_btn {
        padding: 1rem 1.5rem;
        background-color: #333;
        border: 2px solid white;
        border-radius: 1.5rem;
        cursor: pointer;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
      }
      .certification_btn:hover {
        background-color: #d5d5d5;
        color: #333;
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 778px) {
  .certification {
    margin: 0 4rem;
    padding-top: 10rem;
    .certification_body {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media screen and (min-width: 1200px) {
  .certification {
    margin: 0 15rem;
    padding-top: 7rem;
  }
}
