.contact {
  margin: 0 1rem;
  display: block;
  padding-top: 13rem;

  header {
    h3 {
      font-size: 20px;
      text-align: center;
    }

    .contact_line {
      @include line;

      .contact_inner-line {
        @include inneiLine(100%);
      }
    }
  }

  .contact_body {
    margin-top: 2.5rem;

    .contact_info {
      a,
      p {
        text-decoration: none;
        font-size: 18px;
      }
    }

    .contact_form {
      h3 {
        font-size: 20px;
      }

      .contact_form-line {
        @include line;

        .contact_form-inner-line {
          @include inneiLine(50%);
        }
      }

      form {
        .contact_form-input {
          .contact_input-field {
            background-color: transparent;
            border: 2px solid #555;
            border-radius: 2px;
            width: 96%;
            padding: 0.625rem;
            margin-bottom: 1rem;
            font-size: 1rem;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
          }

          .contact_input-field:focus {
            outline: none;
          }
        }
      }

      .contact_button-div {
        display: flex;
        justify-content: center;

        .contact_button {
          background-color: transparent;
          border: 2px solid #3b82f6;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: 400;
          -webkit-border-radius: 1rem;
          -moz-border-radius: 1rem;
          -ms-border-radius: 1rem;
          -o-border-radius: 1rem;
        }

        .contact_button:hover {
          background-color: #3b82f6;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 778px) {
  .contact {
    margin: 0 4rem;
    padding-top: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    margin: 0 15rem;
    padding-top: 7rem;
    padding-bottom: 7rem;

    .contact_body {
      display: grid;
      grid-template-columns: 33% 1fr;
      gap: 1rem;

      .contact_form {
        form {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          gap: 1rem;
        }

        .contact_button-div {
          display: block;
        }
      }
    }
  }
}
