.resume {
  margin: 0 1rem;
  display: block;
  padding-top: 13rem;

  h2 {
    text-align: center;
    font-size: 30px;
  }

  .experiance {
    header {
      h3 {
        font-size: 20px;
      }

      .experiance_line {
        @include line;

        .experiance_inner-line {
          @include inneiLine(20%);
        }
      }
    }

    .experiance_body {
      .experiance_text {
        .experiance_text-list {
          @include textList;

          .experiance_text-list-duration-container {
            @include textListDurationContainer;

            .experiance_text-list-duration-mark {
              @include textListDurationMark(3px);
            }

            .experiance_text-list-duration {
              @include textListDuration;
            }
          }

          .experiance_text-list-description {
            margin-left: 2rem;

            h4 {
              font-size: 1rem;
              line-height: 1rem;
              margin-bottom: 0.5rem;
            }

            h5 {
              color: grey;
              font-size: 0.875rem;
              line-height: 1.25rem;
              margin: 0;
            }
          }
        }
      }

      .experiance_image {
        padding-top: 2rem;

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }
      }
    }
  }

  .education {
    margin-top: 4rem;

    header {
      h3 {
        font-size: 20px;
      }

      .education_line {
        @include line;

        .education_inner-line {
          @include inneiLine(20%);
        }
      }
    }

    .education_body {
      .education_image {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }
      }
      .education_text {
        margin-top: 2rem;

        .education_text-list {
          @include textList;

          .education_text-list-duration-container {
            @include textListDurationContainer;

            .education_text-list-duration-mark {
              @include textListDurationMark(3px);
            }

            .education_text-list-duration {
              @include textListDuration;
            }
          }

          .education_text-list-description {
            margin-left: 2rem;

            h4 {
              font-size: 1rem;
              line-height: 1rem;
              margin-bottom: 0.5rem;
            }

            h5 {
              color: grey;
              font-size: 0.875rem;
              line-height: 1.25rem;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 778px) {
  .resume {
    margin: 0 4rem;
    padding-top: 9rem;

    h2 {
      font-size: 40px;
    }

    .experiance {
      .experiance_body {
        .experiance_text {
          .experiance_text-list {
            .experiance_text-list-duration-container {
              .experiance_text-list-duration-mark {
                left: 52px;
              }

              .experiance_text-list-duration {
                margin-left: 2rem;
              }
            }
          }
        }
      }
    }
    .education {
      .education_body {
        .education_text {
          padding-top: 2rem;

          .education_text-list {
            .education_text-list-duration-container {
              .education_text-list-duration-mark {
                left: 52px;
              }

              .education_text-list-duration {
                margin-left: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .resume {
    margin: 0 15rem;
    padding-top: 5rem;

    h2 {
      font-size: 40px;
    }
    .experiance {
      .experiance_body {
        @include center;

        .experiance_text {
          width: 60%;

          .experiance_text-list {
            grid-template-columns: repeat(2, minmax(0, 1fr));

            .experiance_text-list-duration-container {
              .experiance_text-list-duration-mark {
                left: 227px;
              }
            }

            .experiance_text-list-description {
              margin-left: 0;
            }
          }
        }

        .experiance_image {
          padding-top: 0;
          width: 40%;
        }
      }
    }

    .education {
      .education_body {
        @include center;

        .education_image {
          width: 40%;
        }

        .education_text {
          padding-top: 0;
          margin-top: 0;
          width: 60%;

          .education_text-list {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            margin-left: 50px;
            position: relative;

            .education_text-list-duration-container {
              .education_text-list-duration-mark {
                left: -13px;
              }
            }

            .education_text-list-description {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
